body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #fefefe;
}

.lorem {
    font-style: italic;
    color: #AAA;
}
#map {
    background-image: url('images/Background.png'); 
    background-repeat: repeat;
    background-size: 10%; /* Control size of repeating background for leaflet map */
}

iframe.sidebar-content{
    position: absolute;
    height: 95%;
    width: 100%;
    align-self: flex-end;
    border: 0;
}