body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
}

#maps-container {
    display: flex;
    height: 100%;
    width: 100%;
}

#mapA {
    width: 100%;
    height: 100%;
    /*background-color: #1a1a1a;*/
}

#mapB {
    display: none;
}

.lorem {
    font-style: italic;
    color: #AAA;
}

iframe.sidebar-content{
    position: absolute;
    height: 95%;
    width: 100%;
    align-self: flex-end;
    border: 0;
}